html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

body {
  background-color: #ccc;
  margin: 30px 30px;
  line-height: 1.4;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 0.6rem 1rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

.main-nav ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.main-nav a {
  background: #fff;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  font-size: 1.1rem;
  -webkit-box-shadow: #fff;
          box-shadow: #fff;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.main-nav a:hover {
  background: #333;
  color: #fff;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

.top-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
      grid-template-areas: 'showcase showcase top-box-a' 'showcase showcase top-box-b';
}

.top-container .showcase {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: showcase;
  min-height: 400px;
  background-image: url("/assets/img/myphoto.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  padding: 2.5rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.top-container .showcase h1 {
  font-size: 3rem;
  margin-bottom: 0;
  color: #fff;
}

.top-container .showcase p {
  font-size: 1.3rem;
  margin-top: 0rem;
  color: #fff;
}

.top-container .showcase .showcase-content {
  visibility: hidden;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: showcase;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.top-container .showcase:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white)), url("/assets/img/myphoto.jpg");
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white), url("/assets/img/myphoto.jpg");
  background: -o-linear-gradient(rgba(255, 255, 255, 0), white), url("/assets/img/myphoto.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0), white), url("/assets/img/myphoto.jpg");
}

.top-container .showcase:hover .showcase-content {
  visibility: visible;
  z-index: 100;
  margin-top: 12rem;
  visibility: visible;
}

.top-container .top-box .price {
  font-size: 2rem;
}

.top-container .top-box-a {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: top-box-a;
  background-color: #ddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5rem;
}

.top-container .top-box-b {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: top-box-b;
  background-color: #ddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 1.5rem;
}

.boxes {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.boxes .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ddd;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.boxes .box:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
       -o-transform: scale(1.02);
          transform: scale(1.02);
}

.info {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.portfolio img {
  width: 100%;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.portfolio img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
}

footer {
  margin-top: 2rem;
  background-color: #333;
  color: #fff;
}

footer ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer ul li {
  padding: 1rem;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 700px) {
  footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .top-container {
        grid-template-areas: 'showcase showcase' 'top-box-a top-box-b';
  }
  .top-container .showcase h1 {
    font-size: 2.4rem;
  }
  .top-container .showcase:hover .showcase-content {
    margin-top: 8rem;
  }
  .main-nav ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .info .btn {
    display: block;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .top-container {
        grid-template-areas: 'showcase' 'top-box-a' 'top-box-b';
  }
}
/*# sourceMappingURL=main.css.map */